.login__vw {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #5285ff;
}
.login__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5285ff;
}
.login__vw__vw1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.login__vw__vw1__vw {
  width: 440px;
  height: 401px;
}
.login__vw_1 {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  height: 60px;
}
.login__vw_1__vw {
  cursor: pointer;
}
.login__vw_1__vw__tx {
  font-size: 32px;
  color: #333333;
  font-weight: 800;
  transition: all 0.3s;
}
.login__vw_1__vw__vw1 {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 6px;
  transition: all 0.3s;
}
.login__vw_1__vw1 {
  cursor: pointer;
  margin-left: 20px;
}
.login__vw_1__vw1__tx {
  font-size: 32px;
  color: #333333;
  font-weight: 800;
  transition: all 0.3s;
}
.login__vw_1__vw1__vw1 {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 6px;
  transition: all 0.3s;
}
.login__vw_2 {
  height: 55px;
  border-width: 2px;
  border-color: #5587ff;
  border-style: solid;
  background-color: rgba(180, 198, 255, 0.07);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%;
}
.login__vw_2__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 5px;
}
.login__vw_2__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}
.login__vw_2__vw1__Input {
  border-width: 0px;
  background-color: rgba(25, 62, 77, 0);
  height: 40px;
  color: #4355ff;
  font-size: 16px;
  outline: none;
  font-weight: 600;
}
.login__vw1 {
  height: 55px;
  border-width: 2px;
  border-color: #5587ff;
  border-style: solid;
  background-color: rgba(180, 198, 255, 0.07);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%;
}
.login__vw1__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 5px;
}
.login__vw1__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}
.login__vw1__vw1__Input {
  border-width: 0px;
  background-color: rgba(25, 62, 77, 0);
  height: 40px;
  color: #4355ff;
  font-size: 16px;
  outline: none;
  font-weight: 600;
}
.login__vw1__vw2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}
.login__vw1__vw2__vw {
  height: 40px;
  border-width: 1px;
  border-color: #5587ff;
  border-style: solid;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(85, 135, 255, 0.23);
  cursor: pointer;
}
.login__vw1__vw2__vw__tx {
  font-size: 14px;
  color: #487eff;
}
.login__vw1__vw2__vw__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 5px;
}
.login__vw_3 {
  height: 55px;
  border-width: 2px;
  border-color: #5587ff;
  border-style: solid;
  background-color: rgba(180, 198, 255, 0.07);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%;
}
.login__vw_3__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 5px;
}
.login__vw_3__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}
.login__vw_3__vw1__Input {
  border-width: 0px;
  background-color: rgba(25, 62, 77, 0);
  height: 40px;
  color: #4355ff;
  font-size: 16px;
  outline: none;
  font-weight: 600;
}
.login__vw1_4 {
  height: 55px;
  border-width: 2px;
  border-color: #5587ff;
  border-style: solid;
  background-color: rgba(180, 198, 255, 0.07);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 26px;
  width: 100%;
}
.login__vw1_4__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 5px;
}
.login__vw1_4__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}
.login__vw1_4__vw1__Input.Password {
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #4c67fe;
}
.login__vw__vw1__vw__vw3 {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 10px;
}
.login__vw__vw1__vw__vw3__vw {
  padding-top: 12px;
  padding-bottom: 12px;
}
.login__vw__vw1__vw__vw3__vw__tx {
  font-size: 14px;
  color: #487eff;
}
.login__vw__vw1__vw__vw3__vw1 {
}
.login__vw__vw1__vw__vw4 {
  height: 55px;
  border-width: 2px;
  border-color: #5587ff;
  border-style: solid;
  background-color: #487eff;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login__vw__vw1__vw__vw4__tx {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.login__vw__vw1__vw__vw4__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 5px;
}
