.aiConfiguration__Button1 {
  margin-left: 20;
}
.aiConfiguration__page_header {
  padding: 0;
}
.aiConfiguration__row_container {
  width: 100%;
}
.aiConfiguration__container {
  width: 100%;
}
.aiConfiguration__region {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.aiConfiguration__region__FDBlock {
  border-radius: 2px;
}
.aiConfiguration__row_container_1 {
}
.aiConfiguration__row_container_1__FDCell {
}
.aiConfiguration__row_container_1__FDCell__ProTable {
  width: 100%;
}
