.employeeManagement__page_header {
  padding: 0;
}
.employeeManagement__row_container {
  width: 100%;
}
.employeeManagement__container {
  width: 100%;
}
.employeeManagement__region {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.employeeManagement__region__FDBlock {
  border-radius: 2px;
}
.employeeManagement__row_container_1 {
}
.employeeManagement__row_container_1__FDCell {
}
.employeeManagement__vw {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 260px;
  height: 260px;
}
