.employeeManagement__page_header {
  padding: 0;
}
.employeeManagement__row_container {
  width: 100%;
}
.employeeManagement__container {
  width: 100%;
}
.employeeManagement__region {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.employeeManagement__block {
  border-radius: 2px;
}
.employeeManagement__region_1 {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.employeeManagement__region_1__FDBlock {
  border-radius: 2px;
}
.employeeManagement__row_container_2 {
}
.employeeManagement__row_container_2__FDCell {
}
.employeeManagement__Select {
  width: 200;
}
.employeeManagement__Button1 {
  margin-left: 20;
}
