.pageTemplate__page_header {
  padding: 0;
}
.pageTemplate__row_container {
  width: 100%;
}
.pageTemplate__container {
  width: 100%;
}
.pageTemplate__region {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.pageTemplate__region__FDBlock {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 2px;
}
.pageTemplate__row_container_1 {
}
.pageTemplate__row_container_1__FDCell {
}
.pageTemplate__block {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 2px;
}
.pageTemplate__vw {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 260px;
  height: 260px;
}
