.generateTwoDimensionalCode__vw1 {
  background-color: #f4f4f4;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generateTwoDimensionalCode__vw1__vw {
  width: 160px;
  height: 160px;
  background-color: #ebe8ff;
}
