.mobile__move {
  background-color: #212121;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.mobile__vw {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  width: 245px;
}
.mobile__vw__vw {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}
.mobile__vw__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}
.mobile__vw__vw__vw__tx {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}
.mobile__vw_1 {
  width: 240px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
.mobile__vw_1__vw {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  margin-top: 5px;
}
.mobile__vw_1__vw__Image {
  width: 14px;
  height: 14px;
}
.mobile__vw_1__vw__tx1 {
  margin-left: 12px;
  font-size: 14px;
  color: #c3c3c3;
}
.mobile__parting_line {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.mobile__parting_line__vw {
  height: 1px;
  background-color: rgba(46, 46, 46, 0.53);
}
.mobile__vw_1__vw2 {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding-left: 23px;
  padding-right: 25px;
  align-items: center;
  margin-top: 5px;
}
.mobile__vw_1__vw2__tx1 {
  margin-left: 12px;
  font-size: 14px;
  color: #c3c3c3;
}
.mobile__parting_line_2 {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.mobile__parting_line_2__vw {
  height: 1px;
  background-color: rgba(46, 46, 46, 0.53);
}
.mobile__vw_1__vw4 {
  height: 50px;
}
.mobile__vw_1__vw5 {
  padding-bottom: 30px;
}
.mobile__vw_1__vw5__vw {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}
.mobile__vw_1__vw5__vw__vw {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  background-color: rgba(61, 61, 61, 0.65);
  border-radius: 15px;
}
.mobile__vw_1__vw5__vw__vw__vw {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
}
.mobile__vw_1__vw5__vw__vw__vw__Image {
  width: 100%;
  border-radius: 12px;
}
.mobile__vw_1__vw5__vw__vw__vw1 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.mobile__vw_1__vw5__vw__vw__vw1__vw {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}
.mobile__vw_1__vw5__vw__vw__vw1__vw__tx {
  font-size: 12px;
  color: #c6c6c6;
  line-height: 18px;
  background: linear-gradient(to right, #fc00ff, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mobile__vw_1__vw5__vw__vw__vw1__vw__tx1 {
  font-size: 12px;
  color: #c6c6c6;
  line-height: 18px;
  background: linear-gradient(to right, #fc00ff, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 3px;
}
.mobile__vw_1__vw6 {
  padding-bottom: 30px;
}
.mobile__vw_1__vw6__vw {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}
.mobile__vw_1__vw6__vw__vw {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  background-color: rgba(61, 61, 61, 0.65);
  border-radius: 15px;
}
.mobile__vw_1__vw6__vw__vw__vw {
}
.mobile__vw_1__vw6__vw__vw__vw__tx {
  font-size: 12px;
  color: #747474;
  line-height: 18px;
}
.mobile__vw_1__vw6__vw__vw__vw1 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.mobile__vw_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #36bba3;
  border-radius: 15px;
}
.mobile__vw_3__Image {
  width: 20px;
  height: 20px;
}
.mobile__vw_1__vw6__vw__vw__vw1__vw1 {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}
.mobile__vw_1__vw6__vw__vw__vw1__vw1__tx {
  font-size: 12px;
  color: #c6c6c6;
  line-height: 18px;
}
.mobile__vw_1__vw6__vw__vw__vw2 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.mobile__Image {
  width: 30px;
  height: 30px;
}
.mobile__vw_1__vw6__vw__vw__vw2__vw1 {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}
.mobile__vw_1__vw6__vw__vw__vw2__vw1__tx {
  font-size: 12px;
  color: #c6c6c6;
  line-height: 18px;
}
.mobile__vw_1__vw7 {
  border-radius: 15px;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
}
.mobile__vw_1__vw7__vw {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
}
.mobile__vw_1__vw7__vw__tx {
  font-size: 14px;
  color: #ffffff;
}
.mobile__vw_1__vw7__vw__vw1 {
  margin-top: 6px;
}
.mobile__vw_1__vw7__vw__vw1__tx {
  font-size: 12px;
  color: #5eb107;
}
.mobile__vw_1__vw7__vw1 {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile__vw_1__vw8 {
  height: 20px;
}
.mobile__vw_1__vw9 {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding-left: 23px;
  padding-right: 25px;
  align-items: center;
  margin-top: 5px;
}
.mobile__vw_1__vw9__tx1 {
  margin-left: 12px;
  font-size: 14px;
  color: #c3c3c3;
}
.mobile__vw_1__vw10 {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding-left: 23px;
  padding-right: 25px;
  align-items: center;
  margin-top: 5px;
}
.mobile__vw_1__vw10__tx1 {
  margin-left: 12px;
  font-size: 14px;
  color: #c3c3c3;
}
.mobile__move__vw1 {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.mobile__main_body {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  border-radius: 10px;
  border-color: #30236d;
  border-style: solid;
  flex-wrap: wrap;
  border-width: 0px;
}
.mobile__main_body__vw {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.mobile__main_body__vw__vw {
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  padding-bottom: 12px;
  align-items: center;
}
.mobile__main_body__vw__vw__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}
.mobile__main_body__vw__vw__vw1__tx {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}
.mobile__main_body__vw__vw__vw1__tx1 {
  font-size: 12px;
  color: #c6c6c6;
  line-height: 18px;
  background: linear-gradient(to right, #fc00ff, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 15px;
  margin-top: 3px;
}
.mobile__main_body__vw__vw__vw2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 12px;
  align-items: center;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 4px;
}
.mobile__main_body__vw__vw__vw2__tx1 {
  font-size: 16px;
  color: #d9d9d9;
  margin-left: 8px;
}
.mobile__item_list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}
