.configurationForm__page_header {
  padding: 0;
}
.configurationForm__row_container {
  width: 100%;
}
.configurationForm__container {
  width: 100%;
}
.configurationForm__region {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.configurationForm__region__FDBlock {
  border-radius: 2px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.configurationForm__row_container_1 {
}
.configurationForm__row_container_1__FDCell {
}
.configurationForm__user_form {
  width: 100%;
}
.configurationForm__Button1 {
  margin-left: 20;
}
.configurationForm__region_2 {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.configurationForm__block {
  border-radius: 2px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.configurationForm__container_3 {
}
.configurationForm__tx {
  font-size: 14px;
  color: #333;
}
