.OpenAMembership__vw {
  background-color: #ffffff;
  border-radius: 25px;
  position: relative;
  min-height: 453px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
}
.OpenAMembership__vw__vw {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3840fb;
  height: 160px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  justify-content: space-between;
  padding-left: 21px;
  align-items: flex-start;
  padding-right: 19px;
  margin-top: -5px;
  position: relative;
  z-index: 2;
}
.OpenAMembership__vw__vw__vw {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
.OpenAMembership__vw__vw__vw__vw {
  cursor: pointer;
}
.OpenAMembership__vw__vw__vw__vw__tx {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.OpenAMembership__vw__vw__vw__vw__vw1 {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 6px;
  transition: all 0.3s;
}
.OpenAMembership__vw__vw__vw__vw1 {
  margin-left: 30px;
  cursor: pointer;
}
.OpenAMembership__vw__vw__vw__vw1__tx {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.OpenAMembership__vw__vw__vw__vw1__vw1 {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 6px;
  transition: all 0.3s;
}
.OpenAMembership__vw__vw__vw__vw2 {
  margin-left: 30px;
  cursor: pointer;
}
.OpenAMembership__vw__vw__vw__vw2__tx {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.OpenAMembership__vw__vw__vw__vw2__vw1 {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 6px;
  transition: all 0.3s;
}
.OpenAMembership__vw__vw__vw1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.OpenAMembership__list {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
.OpenAMembership__vw_1 {
  padding-left: 30px;
  position: relative;
  padding-right: 30px;
  padding-bottom: 15px;
}
.OpenAMembership__loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 50px;
}
.OpenAMembership__vw_1__vw1 {
  display: flex;
  flex-direction: row;
}
.OpenAMembership__vw_1__vw2 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.07);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 20;
}
.OpenAMembership__vw_1__vw2__vw {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
}
.OpenAMembership__vw_1__vw2__vw__tx {
  font-size: 14px;
  color: #666666;
}
.OpenAMembership__vw_1__vw2__vw__tx1 {
  font-size: 14px;
  color: #d98d0c;
  margin-left: 10px;
  font-weight: 600;
}
.OpenAMembership__vw_1__vw2__vw__tx2 {
  font-size: 14px;
  color: #666666;
  margin-left: 15px;
}
.OpenAMembership__vw_1__vw2__vw__tx3 {
  font-size: 14px;
  color: #d98d0c;
  margin-left: 10px;
  font-weight: 600;
}
.OpenAMembership__vw_1__vw2__vw__vw4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 11px;
}
.OpenAMembership__vw_1__vw2__vw__vw4__tx {
  font-size: 14px;
  color: #666666;
  margin-left: 15px;
}
.OpenAMembership__vw_1__vw2__vw__vw4__tx1 {
  font-size: 14px;
  color: #d98d0c;
  margin-left: 10px;
  font-weight: 600;
}
.OpenAMembership__vw_1__vw2__vw1 {
  padding-top: 5px;
  padding-bottom: 12px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
}
.OpenAMembership__vw_1__vw2__vw1__tx {
  font-size: 14px;
  color: #999999;
}
.OpenAMembership__use-list {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
.OpenAMembership__vw_2 {
  padding-left: 30px;
  position: relative;
  padding-right: 30px;
  padding-bottom: 15px;
}
.OpenAMembership__loading_3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 50px;
}
.OpenAMembership__vw_2__vw1 {
  display: flex;
  flex-direction: row;
}
.OpenAMembership__vw_2__vw2 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.07);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 20;
}
.OpenAMembership__vw_2__vw2__vw {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
}
.OpenAMembership__vw_2__vw2__vw__tx {
  font-size: 14px;
  color: #666666;
}
.OpenAMembership__vw_2__vw2__vw__tx1 {
  font-size: 14px;
  color: #d98d0c;
  margin-left: 10px;
  font-weight: 600;
}
.OpenAMembership__vw_2__vw2__vw1 {
  padding-top: 5px;
  padding-bottom: 12px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
}
.OpenAMembership__vw_2__vw2__vw1__tx {
  font-size: 14px;
  color: #999999;
}
.OpenAMembership__vw_4 {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -84px;
  position: relative;
  min-height: 240px;
}
.OpenAMembership__loading_5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  border-radius: 50px;
}
.OpenAMembership__vw_4__vw1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.OpenAMembership__vw_4__vw1__vw {
  width: 45%;
  height: 90px;
  margin-right: 15px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.07);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 20;
  margin-bottom: 15px;
}
.OpenAMembership__vw_4__vw1__vw__vw {
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
}
.OpenAMembership__vw_4__vw1__vw__vw__tx {
  font-size: 21px;
  color: #c98e15;
  font-weight: 700;
}
.OpenAMembership__vw_4__vw1__vw__vw__tx1 {
  font-size: 15px;
  color: #d69510;
  margin-left: 4px;
  margin-top: 8px;
  font-weight: 500;
}
.OpenAMembership__vw_4__vw1__vw__vw1 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ed7800;
  border-top-left-radius: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.OpenAMembership__vw_4__vw1__vw__vw1__tx {
  font-size: 14px;
  color: #ffffff;
}
.OpenAMembership__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
}
.OpenAMembership__vw1__vw {
  background-color: #fbfbfb;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.OpenAMembership__vw1__vw__Image {
  width: 140px;
  height: 140px;
}
.OpenAMembership__vw1__vw__vw1 {
  display: flex;
  flex-direction: row;
}
.OpenAMembership__vw1__vw__vw1__vw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.OpenAMembership__vw1__vw__vw1__vw__tx {
  font-size: 14px;
  color: #4a90e2;
}
.OpenAMembership__vw1__vw__vw1__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
}
.OpenAMembership__vw1__vw__vw1__vw1__tx {
  font-size: 14px;
  color: #c6c6c6;
}
.OpenAMembership__vw2 {
  padding-top: 20px;
}
.OpenAMembership__vw2__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  align-items: center;
}
.OpenAMembership__vw2__vw__tx {
  font-size: 14px;
  color: #333;
}
.OpenAMembership__vw2__vw__vw1 {
  width: 157px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  border-width: 1px;
  border-color: #efefef;
  border-style: solid;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 22px;
}
.OpenAMembership__vw2__vw__vw1__vw1 {
  padding-left: 15px;
}
.OpenAMembership__vw2__vw__vw1__vw1__tx {
  font-size: 14px;
  color: #333;
}
.OpenAMembership__vw2__vw__vw1__vw2 {
  width: 20px;
  height: 20px;
  border-color: #3060fd;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OpenAMembership__vw2__vw__vw2 {
  width: 157px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  border-width: 1px;
  border-color: #efefef;
  border-style: solid;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
}
.OpenAMembership__vw2__vw__vw2__vw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OpenAMembership__vw2__vw__vw2__vw__tx {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.OpenAMembership__vw2__vw__vw2__vw2 {
  padding-left: 15px;
}
.OpenAMembership__vw2__vw__vw2__vw2__tx {
  font-size: 14px;
  color: #333;
}
.OpenAMembership__vw2__vw__vw2__vw3 {
  width: 20px;
  height: 20px;
  border-color: #3060fd;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OpenAMembership__vw2__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.OpenAMembership__vw2__vw1__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  justify-content: center;
  background-color: #e6c886;
  width: 100%;
  cursor: pointer;
}
.OpenAMembership__vw2__vw1__vw__tx {
  font-size: 18px;
  color: #ab7a0a;
  font-weight: 600;
}
