.QrcodeApp__two-dimensional_code {
  display: flex;
  flex-direction: column;
}
.QrcodeApp__vw {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 500px;
  height: 400px;
  border-radius: 15px;
}
.QrcodeApp__vw__vw {
  padding-left: 15px;
  padding-right: 15px;
}
.QrcodeApp__vw__vw__vw {
  background-color: #fff;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.QrcodeApp__vw__vw__vw__tx {
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
.QrcodeApp__vw__vw1 {
  padding-left: 15px;
  padding-right: 15px;
}
.QrcodeApp__vw__vw1__vw {
  background-color: #fff;
}
.QrcodeApp__vw__vw1__vw__vw {
  background-color: #efecff;
  border-radius: 15px;
  padding-top: 12px;
  padding-bottom: 2px;
}
.QrcodeApp__vw__vw1__vw__vw__vw {
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.QrcodeApp__vw__vw1__vw__vw__vw__tx1 {
  font-size: 14px;
  color: #573de7;
  margin-left: 6px;
  font-weight: 600;
}
.QrcodeApp__vw__vw1__vw__vw__vw1 {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.QrcodeApp__vw__vw1__vw__vw__vw1__vw {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.QrcodeApp__vw__vw1__vw__vw__vw1__vw__tx {
  font-size: 14px;
  color: #8b7afe;
  font-weight: 500;
  background: linear-gradient(to right, #fc00ff, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.QrcodeApp__vw__vw1__vw__vw__vw1__vw1 {
}
.QrcodeApp__vw__vw1__vw__vw__vw1__vw2 {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.QrcodeApp__vw__vw1__vw__vw__vw1__vw2__tx {
  font-size: 14px;
  color: #8e77f1;
}
.QrcodeApp__vw__vw1__vw__vw__vw1__vw3 {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.QrcodeApp__vw__vw1__vw__vw__vw1__vw3__tx {
  font-size: 14px;
  color: #0e1cd9;
  font-weight: 500;
}
.QrcodeApp__vw__vw2 {
}
.QrcodeApp__vw__vw2__vw {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}
.QrcodeApp__vw__vw2__vw__vw {
  background-color: #ffefea;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}
.QrcodeApp__vw__vw2__vw__vw__tx {
  font-size: 14px;
  color: #e0780d;
  font-weight: 700;
}
.QrcodeApp__vw__vw2__vw__vw__vw1 {
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c6bff;
  margin-left: 10px;
  border-radius: 13px;
  width: 80px;
}
.QrcodeApp__vw__vw2__vw__vw__vw1__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.QrcodeApp__vw__vw2__vw__vw__vw1__vw__AtIcon {
  margin-right: 2px;
}
.QrcodeApp__vw__vw2__vw__vw__vw1__vw__tx1 {
  font-size: 14px;
  color: #eaeaea;
  margin-right: 3px;
}
.QrcodeApp__vw__vw2__vw1 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}
.QrcodeApp__vw__vw2__vw1__tx {
  font-size: 17px;
  color: #ff1717;
  line-height: 23px;
}
.QrcodeApp__vw__vw3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 15px;
  padding-right: 15px;
}
.QrcodeApp__vw__vw3__vw {
  width: 100px;
  height: 43px;
  background-color: #d7d7d7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.QrcodeApp__vw__vw3__vw__tx {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
.QrcodeApp__vw__vw3__vw1 {
  width: 100px;
  height: 43px;
  background-color: #4420fe;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__vw__vw3__vw1__tx {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}
.QrcodeApp__vw_1 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 350px;
  border-radius: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}
.QrcodeApp__vw_1__vw {
  padding-left: 15px;
  padding-right: 15px;
}
.QrcodeApp__vw_1__vw__vw {
  background-color: #fff;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.QrcodeApp__vw_1__vw__vw__tx {
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
.QrcodeApp__vw_1__vw1 {
  padding-left: 15px;
  padding-right: 15px;
}
.QrcodeApp__vw_1__vw1__vw {
  background-color: #fff;
}
.QrcodeApp__vw_1__vw1__vw__vw {
  background-color: #efecff;
  border-radius: 15px;
  padding-top: 12px;
  padding-bottom: 2px;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw {
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw__tx1 {
  font-size: 14px;
  color: #573de7;
  margin-left: 6px;
  font-weight: 600;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw1 {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw1__vw {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw1__vw__tx {
  font-size: 14px;
  color: #8b7afe;
  font-weight: 500;
  background: linear-gradient(to right, #fc00ff, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw1__vw1 {
}
.QrcodeApp__vw_1__vw1__vw__vw__vw1__vw2 {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw1__vw2__tx {
  font-size: 14px;
  color: #8e77f1;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw1__vw3 {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.QrcodeApp__vw_1__vw1__vw__vw__vw1__vw3__tx {
  font-size: 14px;
  color: #0e1cd9;
  font-weight: 500;
}
.QrcodeApp__vw_1__vw2 {
}
.QrcodeApp__vw_1__vw2__vw {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}
.QrcodeApp__vw_1__vw2__vw__vw {
  background-color: #ffefea;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}
.QrcodeApp__vw_1__vw2__vw__vw__tx {
  font-size: 14px;
  color: #e0780d;
  font-weight: 700;
}
.QrcodeApp__vw_1__vw2__vw__vw__vw1 {
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c6bff;
  margin-left: 10px;
  border-radius: 13px;
  width: 80px;
}
.QrcodeApp__vw_1__vw2__vw__vw__vw1__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.QrcodeApp__vw_1__vw2__vw__vw__vw1__vw__AtIcon {
  margin-right: 2px;
}
.QrcodeApp__vw_1__vw2__vw__vw__vw1__vw__tx1 {
  font-size: 14px;
  color: #eaeaea;
  margin-right: 3px;
}
.QrcodeApp__vw_1__vw3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 26px;
  padding-right: 23px;
}
.QrcodeApp__vw_1__vw3__vw {
  width: 100px;
  height: 43px;
  background-color: #d7d7d7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.QrcodeApp__vw_1__vw3__vw__tx {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
.QrcodeApp__vw_1__vw3__vw1 {
  width: 100px;
  height: 43px;
  background-color: #2041fe;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__vw_1__vw3__vw1__tx {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}
.QrcodeApp__two-dimensional_code__vw2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 100vh-40;
}
.QrcodeApp__two-dimensional_code__vw2__vw {
  display: flex;
  flex-direction: column;
}
.QrcodeApp__two-dimensional_code__vw2__vw__vw {
  display: flex;
  flex-direction: column;
}
.QrcodeApp__two-dimensional_code__vw2__vw__vw__vw {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-bottom-width: 1px;
  border-bottom-color: #ededed;
  border-bottom-style: solid;
}
.QrcodeApp__two-dimensional_code__vw2__vw__vw__vw__vw {
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.QrcodeApp__two-dimensional_code__vw2__vw__vw__vw__vw__ibg {
  height: 32px;
  border-radius: 4px;
  width: 32px;
}
.QrcodeApp__two-dimensional_code__vw2__vw__vw__vw__vw__tx1 {
  font-size: 18px;
  color: #333;
  font-weight: 700;
  margin-left: 15px;
}
.QrcodeApp__two-dimensional_code__vw2__vw__vw__sv1 {
}
.QrcodeApp__two-dimensional_code__vw2__vw__vw__sv1__vw {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.QrcodeApp__vw_2 {
  background-color: #7075ff;
  border-radius: 12px;
  padding-top: 12px;
  position: relative;
  overflow: hidden;
}
.QrcodeApp__vw_2__vw {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.89);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__vw_2__vw__vw {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  padding-bottom: 18px;
}
.QrcodeApp__vw_2__vw__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__tx {
  font-size: 14px;
  color: #ef7515;
  font-weight: 600;
}
.QrcodeApp__vw_2__vw1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 17px;
  padding-bottom: 12px;
}
.QrcodeApp__vw_2__vw1__tx {
  font-size: 29px;
  color: #ffffff;
  font-weight: 600;
}
.QrcodeApp__vw_2__vw1__tx1 {
  font-size: 20px;
  color: #ffffff;
  margin-left: 10px;
  font-weight: 600;
}
.QrcodeApp__vw_3 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.QrcodeApp__vw_3__vw {
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 3px;
}
.QrcodeApp__vw_3__vw__vw {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 13px;
}
.QrcodeApp__vw_3__vw__vw__vw {
  background-color: #f8f8f8;
  border-radius: 10px;
}
.QrcodeApp__vw_3__vw__vw__vw__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.QrcodeApp__vw_3__vw__vw__vw__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.QrcodeApp__vw_3__vw__vw__vw__vw__vw__tx {
  font-size: 14px;
  color: #b4b4b4;
}
.QrcodeApp__vw_3__vw__vw__vw__vw1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.QrcodeApp__vw_3__vw__vw__vw__vw1__vw {
}
.QrcodeApp__vw_3__vw__vw__vw__vw1__vw__Input {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}
.QrcodeApp__vw_3__vw__vw__vw__vw2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.QrcodeApp__vw_3__vw__vw__vw__vw2__vw {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QrcodeApp__vw_3__vw__vw__vw__vw2__vw__Image {
  width: 150px;
  height: 150px;
}
.QrcodeApp__vw_3__vw__vw1 {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
}
.QrcodeApp__vw_3__vw__vw1__vw {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.QrcodeApp__vw_3__vw__vw1__vw__vw {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 18px;
  border-width: 2px;
  border-color: #2723f5;
  border-style: solid;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__vw_3__vw__vw1__vw__vw__tx {
  font-size: 14px;
  color: #2723f5;
  font-weight: 700;
}
.QrcodeApp__vw_4 {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 18px;
  border-width: 2px;
  border-color: #f5a623;
  border-style: solid;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__vw_4__tx1 {
  font-size: 14px;
  color: #f5a623;
  margin-left: 5px;
  font-weight: 700;
}
.QrcodeApp__vw_3__vw__vw1__vw__vw2 {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 18px;
  border-width: 2px;
  border-color: #d4d4d4;
  border-style: solid;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}
.QrcodeApp__vw_3__vw__vw1__vw__vw2__tx {
  font-size: 14px;
  color: #cdcbcb;
}
.QrcodeApp__vw_3__vw__vw1__vw1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.QrcodeApp__vw1 {
  margin-top: 20px;
}
.QrcodeApp__vw1__vw {
  border-radius: 12px;
  padding-top: 12px;
}
.QrcodeApp__vw1__vw__vw {
  display: flex;
  flex-direction: row;
  padding-left: 17px;
  padding-bottom: 5px;
}
.QrcodeApp__vw1__vw__vw__vw {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.QrcodeApp__vw1__vw__vw__vw__tx {
  font-size: 29px;
  color: #333333;
  font-weight: 600;
}
.QrcodeApp__vw1__vw__vw__vw__tx1 {
  font-size: 20px;
  color: #333333;
  margin-left: 10px;
  font-weight: 600;
}
.QrcodeApp__vw1__vw__vw__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
}
.QrcodeApp__vw1__vw__vw__vw1__vw {
  background-color: #f5f5f5;
  height: 44px;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
}
.QrcodeApp__vw1__vw__vw__vw1__vw__vw {
  background-color: #e0e0e0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 3px;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.QrcodeApp__vw1__vw__vw__vw1__vw__vw__tx {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}
.QrcodeApp__vw_5 {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.QrcodeApp__vw_5__vw {
  border-radius: 10px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.QrcodeApp__vw_5__vw__vw {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
  border-radius: 13px;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  background-color: #ffffff;
}
.QrcodeApp__vw_5__vw__vw__Image {
  width: 100%;
  border-radius: 10px;
}
.QrcodeApp__vw_5__vw__vw__vw1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 2px;
}
.QrcodeApp__vw_5__vw__vw__vw1__tx {
  font-size: 12px;
  color: #333;
}
.QrcodeApp__vw1_6 {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #dcc6ff;
  border-radius: 15px;
  margin-top: 15px;
}
.QrcodeApp__vw1_6__vw {
  border-radius: 10px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.QrcodeApp__vw1_6__vw1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.QrcodeApp__tx_7 {
  font-size: 16px;
  color: #8005f1;
  font-weight: 600;
}
.QrcodeApp__vw1_6__vw1__vw1 {
  padding-left: 5px;
}
.QrcodeApp__vw1_6__vw2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  overflow: hidden;
}
.QrcodeApp__vw1_6__vw2__vw {
  padding-left: 5px;
}
.QrcodeApp__vw1_6__vw3 {
  overflow: hidden;
}
.QrcodeApp__vw1_6__vw3__vw {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 10px;
  overflow: hidden;
}
.QrcodeApp__vw1_6__vw3__vw__tx {
  font-size: 14px;
  color: #7e7e7e;
}
.QrcodeApp__vw1_6__vw3__vw1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  overflow: hidden;
}
.QrcodeApp__vw1_6__vw3__vw1__vw {
  padding-left: 5px;
}
.QrcodeApp__Col1 {
  padding-bottom: 300px;
}
.QrcodeApp__vw_8 {
  border-radius: 12px;
  padding-top: 12px;
}
.QrcodeApp__vw_8__vw {
  display: flex;
  flex-direction: row;
  padding-left: 17px;
  padding-bottom: 5px;
}
.QrcodeApp__vw_8__vw__vw {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.QrcodeApp__vw_8__vw__vw__tx {
  font-size: 29px;
  color: #333333;
  font-weight: 600;
}
.QrcodeApp__vw_8__vw__vw__tx1 {
  font-size: 20px;
  color: #333333;
  margin-left: 10px;
  font-weight: 500;
}
.QrcodeApp__vw_8__vw__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
}
.QrcodeApp__vw_9 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: #ededed;
  border-radius: 15px;
  position: relative;
}
.QrcodeApp__vw_9__vw {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.83);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__vw_9__vw__vw1 {
  background-color: #0756fe;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  padding-bottom: 14px;
}
.QrcodeApp__vw_9__vw__vw1__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__tx_10 {
  font-size: 14px;
  color: #ffffff;
}
.QrcodeApp__vw_9__vw1 {
  position: relative;
}
.QrcodeApp__vw_9__vw1__Image {
  width: 100%;
  border-radius: 15px;
}
.QrcodeApp__vw_9__vw1__Image1 {
  width: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.QrcodeApp__vw1_11 {
  background-color: #efecff;
  border-radius: 10px;
  padding-top: 12px;
  margin-top: 15px;
  padding-bottom: 2px;
}
.QrcodeApp__vw1_11__vw {
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.QrcodeApp__vw1_11__vw__tx1 {
  font-size: 14px;
  color: #573de7;
  margin-left: 6px;
}
.QrcodeApp__vw1_11__vw1 {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.QrcodeApp__vw1_11__vw1__vw {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.QrcodeApp__vw1_11__vw1__vw__tx {
  font-size: 14px;
  color: #8b7afe;
  font-weight: 500;
  background: linear-gradient(to right, #fc00ff, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.QrcodeApp__vw1_11__vw1__vw1 {
}
.QrcodeApp__vw1_11__vw1__vw2 {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.QrcodeApp__vw1_11__vw1__vw2__tx {
  font-size: 14px;
  color: #8e77f1;
}
.QrcodeApp__vw1_11__vw1__vw3 {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.QrcodeApp__vw1_11__vw1__vw3__tx {
  font-size: 14px;
  color: #0e1cd9;
  font-weight: 500;
}
.QrcodeApp__vw2 {
  margin-top: 15px;
}
.QrcodeApp__vw2__vw {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.QrcodeApp__vw2__vw__vw {
  background-color: #ecffdc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 80px;
  padding-bottom: 14px;
  margin-right: 15px;
}
.QrcodeApp__vw2__vw__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__tx_12 {
  font-size: 14px;
  color: #519c03;
}
.QrcodeApp__vw2__vw__vw1 {
  background-color: #b3ccff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 80px;
  padding-bottom: 14px;
  margin-right: 15px;
}
.QrcodeApp__vw2__vw__vw1__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__tx_13 {
  font-size: 14px;
  color: #5249ff;
}
.QrcodeApp__vw2__vw__vw2 {
  background-color: #fff6d2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 80px;
  padding-bottom: 14px;
}
.QrcodeApp__vw2__vw__vw2__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__tx_14 {
  font-size: 14px;
  color: #f97910;
}
.QrcodeApp__vw2__vw1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.QrcodeApp__vw2__vw1__vw {
  background-color: #b3ccff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 80px;
  padding-bottom: 14px;
  margin-right: 15px;
}
.QrcodeApp__vw2__vw1__vw__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__tx_15 {
  font-size: 14px;
  color: #5249ff;
}
.QrcodeApp__vw2__vw1__vw1 {
  background-color: #fff6d2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 80px;
  padding-bottom: 14px;
}
.QrcodeApp__vw2__vw1__vw1__vw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__tx_16 {
  font-size: 14px;
  color: #f97910;
}
.QrcodeApp__vw2__vw2 {
  padding-top: 12px;
  padding-bottom: 5px;
}
.QrcodeApp__vw2__vw2__tx {
  font-size: 14px;
  color: #929292;
}
.QrcodeApp__two-dimensional_code__vw2__vw1 {
  width: 166px;
  background-color: #f8f8f8;
  border-left-width: 1px;
  border-left-color: #ededed;
  border-left-style: solid;
  display: flex;
  flex-direction: column;
}
.QrcodeApp__two-dimensional_code__vw2__vw1__vw {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-bottom-width: 1px;
  border-bottom-color: #ededed;
  border-bottom-style: solid;
}
.QrcodeApp__two-dimensional_code__vw2__vw1__vw__vw {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.QrcodeApp__two-dimensional_code__vw2__vw1__vw__vw__tx {
  font-size: 16px;
  color: #333;
}
.QrcodeApp__two-dimensional_code__vw2__vw1__vw__vw__vw1 {
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: -2px;
}
.QrcodeApp__vw_17 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}
.QrcodeApp__vw_18 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  border-radius: 15px;
  position: relative;
}
.QrcodeApp__vw_18__vw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QrcodeApp__vw_18__Image1 {
  width: 100%;
  border-radius: 15px;
}
.QrcodeApp__vw_19 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 60vh;
  height: 60vh;
  border-radius: 20px;
  overflow: hidden;
}
.QrcodeApp__vw_19__Image {
  width: 100%;
  height: 100%;
}
